@import "tailwindcss";

#root {
  max-width: 1432px;
  padding: 0 32px;
  margin: 0 auto;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  color: white;
  max-width: 1250px;
  max-height: 90vh;
  width: 100%;
  margin: 0 auto;
  /* max-height: 75vh; */
  /* border-radius: 1rem; */
  /* border: 1px solid rgb(241, 237, 237); */
  background: rgb(0, 0, 0);
  padding: 4.5rem;
  display: flex;
  flex-direction: row;
  /* align-items: center;
  justify-content: center; */
  gap: 4rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #252525;
  border-radius: 5px;
  box-shadow: 0 0 3px #747474;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4b4b;
  border-radius: 5px;
}
