@import "tailwindcss";

@theme {
  --breakpoint-xs: 33rem;
  --breakpoint-xxs: 26rem;
  --breakpoint-s: 46rem;
}

/* 
#root {

} */

* {
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

main {
  flex: 1;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  position: relative;
  z-index: 101;
  color: white;
  max-width: 1600px;
  max-height: 80vh;
  max-width: 85%;
  margin: 0 auto;
  background: rgb(0, 0, 0);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  mask-image: linear-gradient(to bottom, transparent 0px, black 1rem, black calc(93% - 1rem), transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 1.5rem, black calc(93% - 1rem), transparent 100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal-content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #252525;
  border-radius: 5px;
  box-shadow: 0 0 3px #747474;
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
  border-radius: 5px;
}

.interactive-container {
  transition-duration: 200ms;
}

[data-scrolled="true"] .interactive-container {
  opacity: 0.5;
  padding-top: 2rem;
}

[data-scrolled="true"] .interactive-container:hover,
[data-scrolled="true"] .interactive-container:focus-within {
  opacity: 1;
  padding-top: 2rem;
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

/* .border-gradient {
  position: relative;
  overflow: hidden;
} */

.border-gradient {
  position: relative;
  display: inline-block;

  mask-image:
    /* Edge fades */
    linear-gradient(to top, transparent 0px, black 20px),
    linear-gradient(to bottom, transparent 0px, black 20px),
    linear-gradient(to left, transparent 0px, black 20px),
    linear-gradient(to right, transparent 0px, black 20px),

    /* Corner fades */
    radial-gradient(circle at top left, transparent 0px, black 40px),
    radial-gradient(circle at top right, transparent 0px, black 40px),
    radial-gradient(circle at bottom left, transparent 0px, black 40px),
    radial-gradient(circle at bottom right, transparent 0px, black 40px);

  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}

@media (min-width: 528px) {
  .border-gradient {
    mask-image: none;
  }
}

@media (min-width: 1024px) {
  .modal-content {
    padding: 2.5rem;
    flex-direction: row;
    gap: 2rem;
    mask-image: unset;
    -webkit-mask-image: unset
  }
}

@media (min-width: 1280px) {
  .modal-content {
    padding: 3.5rem;
    gap: 3rem;
  }
}

@media (min-width: 1536px) {
  .modal-content {
    padding: 4.5rem;
    gap: 4rem;
  }
}